<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Car Management Dashboard</title>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <!-- External CSS -->
        <link rel="stylesheet" href="../css/style.css" />
        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
        <!-- Alert -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body id="body-pd">
        <!-- Navbar -->
        <header class="header navbar navbar-expand-md pe-0" id="header">
            <div class="d-flex me-auto header_toggle">
                <i class="bi bi-list mx-4" id="header-toggle"></i>
            </div>
            <form class="d-flex ms-auto" method="post" action="/search">
                <input class="form-control" type="search" placeholder="Search" value="" aria-label="Search" name="search" />
                <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
            </form>
            <div class="btn-group ms-2 user-setting">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                    <img src="../images/Rectangle 62.png" class="rounded-circle" alt="" style="width: 38px; height: 38px; object-fit: cover" />
                    Unis Badri
                </button>
                <ul class="dropdown-menu dropdown-menu-sm-end">
                    <li>
                        <button class="dropdown-item" type="button">Setting</button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button">Logout</button>
                    </li>
                </ul>
            </div>
        </header>
        <!-- Sidebar -->
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <table class="h-100">
                    <tr>
                        <td style="vertical-align: top; width: 60px; padding: 0px">
                            <img class="nav_logo" src="../images/Rectangle 63.png" />
                            <a href="/" class="nav_link"><img src="../images/Home.png" alt="" /></a>
                            <a href="/" class="nav_link active-menu"><img src="../images/Administrator.png" alt="" /></a>
                        </td>
                        <td style="vertical-align: top; background-color: #ffffff; padding: 0px">
                            <img class="nav_logo" src="../images/Rectangle 62.png" />
                            <p class="nav_title" style="margin-top: 17px">CARS</p>
                            <a href="/" class="nav_title text-black bg-color-1">List Car</a>
                        </td>
                    </tr>
                </table>
            </nav>
        </div>
        <!-- Container Main -->
        <div class="h-100 mx-4">
            <!-- Breadcrumb -->
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                <ol class="breadcrumb pt-3">
                    <li class="breadcrumb-item">
                        <a class="fw-bold text-black text-decoration-none">Cars</a>
                    </li>
                    <li class="breadcrumb-item active">List Car</li>
                </ol>
            </nav>
            <!-- Title Content -->
            <div class="pt-2 d-flex justify-content-between">
                <h4 class="h4 fw-bold">List Car</h4>
                <button class="btn btn-add-car float-end" onclick="location.href = '/create-car';"><i class="bi bi-plus-lg me-2"></i>Add New Car</button>
            </div>
            <!-- Filter Size Car -->
            <div class="py-3 d-flex justify-content-start">
                <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/'" id="filterAll">All</button>
                <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/1'" id="filterSmall">Small</button>
                <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/2'" id="filterMedium">Medium</button>
                <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/3'" id="filterLarge">Large</button>
            </div>
            <!-- Card Car -->
            <script>
                const rupiah = (number) => {
                    return new Intl.NumberFormat("id-ID", {style: "currency", currency: "IDR", maximumFractionDigits: 0}).format(number);
                };
                const rp = [];
            </script>
            <div class="row section-cars">
                <% for (let i=0; i < cars.length; i++) { %>
                <div class="mb-3 mb-3 col-xxl-3 col-xl-4 col-md-6 col-sm-12 col d-flex justify-content-center">
                    <div class="card">
                        <img src="<%= cars[i].image_car %>" class="card-img-top cars-img" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title"><%= cars[i].name_car %> / <%= cars[i].type_car.type_car %></h5>
                            <h3 class="card-text" id="rent_cost<%= cars[i].id %>">
                                <script>
                                    document.getElementById("rent_cost<%= cars[i].id %>").innerHTML = rupiah("<%= cars[i].rent_cost%>");
                                </script>
                                / hari
                            </h3>
                            <div class="d-flex justify-content-start available-at">
                                <i class="bi bi-clock me-3"></i>
                                <p class="align-self-center mb-0">Updated at <%=moment(cars[i].updatedAt).format('MMMM Do YYYY, h:mm:ss a');%></p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="d-flex justify-content-between">
                                        <button onclick="confirm('<%= cars[i].id%>')" class="btn btn-delete-cars">
                                            <i class="bi bi-trash3 me-1"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-edit-cars" onclick="location.href='/edit-car/<%=cars[i].id%>'">
                                            <i class="bi bi-pencil-square me-1"></i>
                                            <a>Edit</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <!-- End Card Car -->
        </div>

        <!-- Script Alert-->
        <script>
            function confirm(id) {
                Swal.fire({
                    imageUrl: "../images/img-BeepBeep.png",
                    title: "Menghapus Data Mobil",
                    text: "Setelah di hapus,data mobil tidak dapat dikembalikan.Yakin ingin menghapus?",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Tidak",
                    confirmButtonText: "Ya",
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire("Terhapus!", "Data Mobil Terhapus!.", "success");
                        setTimeout(function () {
                            window.location.href = "/api/v1/deleteCars/" + id;
                        }, 1000);
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire("Batal Menghapus", "Takut hilang ya?:)", "error");
                    }
                });
            }
            // Filter Size Car
            if (window.location.pathname === "/" || window.location.pathname === "/search") {
                document.getElementById("filterAll").classList.add("active-filter");
            } else if (window.location.pathname === "/1") {
                document.getElementById("filterSmall").classList.add("active-filter");
            } else if (window.location.pathname === "/2") {
                document.getElementById("filterMedium").classList.add("active-filter");
            } else if (window.location.pathname === "/3") {
                document.getElementById("filterLarge").classList.add("active-filter");
            }
        </script>
        <script src="../js/dist/sweetalert2.all.min.js"></script>
        <!-- Navbar JS -->
        <script src="../js/navbar.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
